.border{
    -fx-border-color:#222D4D;
    -fx-border-width:3px;
    -fx-border-radius:5px;
}
.main-background-colour{
    -fx-background-color: linear-gradient(to bottom, #020204, #161032,#020204);
}
.secondary-background-colour{
    -fx-background-color: linear-gradient(to bottom, rgba(12, 23, 43, 0.5), rgba(34, 45, 77, 0.5));
}
.ternary-background-colour{
    -fx-background-color: rgba(12, 23, 43, 0.46);
}
.popup-background-colour{
    -fx-background-color: rgba(34, 45, 77,0.95);
}


.button{
    -fx-background-color: #7B5EEA;
}
.button-dashboard{
    -fx-background-color: rgba(123, 94, 234, 0.31);
}
.button-add{
    -fx-background-color: #5EEA73;
    -fx-text-fill:#222D4D
}
.button-update{
    -fx-background-color: #EEFF00;
    -fx-text-fill:#222D4D
}
.button-delete{
    -fx-background-color: #EF3232;
    -fx-text-fill:#222D4D
}
.button-view-search{
    -fx-background-color: #4D8BFF;
    -fx-text-fill:#222D4D
}
.input-login-text{
    -fx-text-fill:#fff;
}

.input-text{
    -fx-text-fill:#fff;
    -fx-padding:0px 0px 0px 10px;

}

.table-view {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom right,  #161032,#7B5EEA);
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
}

.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom right, #7B5EEA, #161032);
    -fx-background-radius: 5px 5px 0 0;
    -fx-background-insets: 0 0 0 0;
}

.table-view .column-header, .filter {
    -fx-background-color: transparent; /* Corrected the spelling here */
    -fx-pref-height: 40px; /* 'size' is not a valid property, using pref-height instead */
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
}

.scrollpane-background{
    -fx-background-color: transparent;
}

